* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.top-section {
    background-image: url(./images/desktop/image-hero.jpg);
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
    position: relative;
}

/* link animation */
a::after {
    content: '';
    position: absolute;
    background-color: white;
    height: 3px;
    left: 0;
    width: 0;
    bottom: -10px;
}

a:hover:after {
    width: 100%;
}

.mobile-nav-toggle {
    display: none;
}

.top-nav img {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: 8em;
    margin-top: 3em;
}

.img {
    width: 180px;
    height: 30px;
}

@media (max-width: 1013px) {
    .top-nav {
        margin: 0;
        position: fixed;
        inset: 0 0 0 30%;
        background-color: rgb(0, 0, 0, 0.9);
        z-index: 1000;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 3em;
        padding-top: 2.6em;

        /* moves 100% of its own width off of the page */
        transform: translate(100%);
        transition: transform 350ms ease-out;
    }
    /* if data comes back true, transform nav to 0% */
    .top-nav[data-visible='true'] {
        transform: translate(0%);
    }

    .top-nav img {
        padding-bottom: 200px;
        height: 40px;
    }
    .links {
        display: flex;
        flex-direction: column;
    }

    .links a {
        font-size: 2.5em;
        padding: 0;
        margin-left: 0;
        margin-bottom: 20px;
        color: rgb(255, 255, 255, 0.7);
    }
    .mobile-nav-toggle {
        position: absolute;
        background-color: transparent;
        background-image: url(./images/icon-hamburger.svg);
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
        top: 3.3rem;
        right: 8em;
        z-index: 9999;
        border: none;
        display: block;
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url(./images/icon-close.svg);
    }

    .top-nav img {
        display: block;
    }
}

.Immersive {
    height: 200px;
    width: 40vw;
    border: 2px solid white;
    margin-left: 8em;
    margin-top: 30px;
    display: flex;
}

.Immersive p {
    color: white;
    font-size: 3.1em;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 45px;
}

.interactive {
    height: 400px;

    display: grid;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 8em;
}

.vr-img img {
    height: 400px;
    width: 50vw;
}

.leader {
    grid-column: 2/3;
    align-self: flex-end;
    padding-top: 3em;
    padding-left: 3em;
    position: relative;
    left: -130px;
    width: 32vw;
    height: 210px;
    background-color: white;
}

.para {
    font-size: 12px;
    line-height: 20px;
}

.title {
    font-size: 2em;
    padding-bottom: 30px;
}

.creations {
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 8em;
    margin-bottom: 4em;
}

.creations-title {
    font-size: 2rem;
}

button {
    width: 130px;
    font-size: 15px;
    background-color: white;
}

button:hover {
    background-color:rgb(9, 10, 26);
    color: white;
    border: none;
}

.grid {
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 8em;
}

.one {
    background-image: url(./images/desktop/image-deep-earth.jpg);
    background-size: cover;
    padding-right: 20px;
    filter: brightness(80%);
}

.two {
    background-image: url(./images/desktop/image-night-arcade.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.three {
    background-image: url(./images/desktop/image-soccer-team.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.four {
    background-image: url(./images/desktop/image-grid.jpg);
    background-size: cover;
    padding-right: 50px;
    filter: brightness(80%);
}

.five {
    background-image: url(./images/desktop/image-from-above.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.six {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.seven {
    background-image: url(./images/desktop/image-curiosity.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.eight {
    background-image: url(./images/desktop/image-fisheye.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.card {
    color: rgb(255, 255, 255);
    display: grid;
    align-items: flex-end;
    font-size: 1.7em;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card .overlay {
    background: white;
    color: black;
    opacity: 0;
}

.card:hover.overlay {
    opacity: 1;
}

.social {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 30px;
}

.icons {
    display: flex;
    gap: 12px;
    height: 20px;
}

.icons:hover {
    cursor: pointer;
}

.bottom-img {
    height: 20px;
}

.bottom-info {
    color: white;
    background-color: black;
    margin-top: 0;
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.bottom-links a {
    margin-left: 0;
}

.copyright {
    font-size: 0.8em;
    color: rgb(255, 255, 255, 0.5);
}

.attribution {
    background-color: black;
    color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
