@media (max-width: 1013px) {
    .top-nav {
        margin: 0;
        position: fixed;
        inset: 0 0 0 0%;
        background-color: rgba(0, 0, 0);
        z-index: 1000;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 2em;
        padding-top: 2.6em;
        /* moves 100% of its own width off of the page */
        transform: translate(100%);
    }
    /* if data comes back true, transform nav to 0% */
    .top-nav[data-visible='true'] {
        transform: translate(0%);
    }

    .top-nav img {
        padding-bottom: 200px;
        height: 40px;
    }
    .links {
        display: flex;
        flex-direction: column;
    }

    .links a {
        font-size: 2.5em;
        padding: 0;
        margin-left: 0;
        margin-bottom: 20px;
        color: rgb(255, 255, 255, 0.7);
    }
    .mobile-nav-toggle {
        position: absolute;
        background-color: transparent;
        background-image: url(./images/icon-hamburger.svg);
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
        top: 3.3rem;
        right: 2em;
        z-index: 9999;
        border: none;
        display: block;
    }

    .mobile-nav-toggle:hover {
        background-color: transparent;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url(./images/icon-close.svg);
    }

    .top-nav img {
        display: block;
    }

    a:hover::after {
        width: 100%;
    }

    .top-section {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .wrapper {
        margin-left: 2em;
    }

    .Immersive {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        margin: 60px auto 20px auto;
        justify-content: center;
        width: 450px;

        /* height: 250px;
        width: 420px;
        margin-left: 2em;
        margin-right: 2em; */
    }

    .interactive {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0;
        height: 900px;
        width: 400px;
        margin: 7em auto 20px auto;
        justify-content: center;
    }

    .leader {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: center;
        align-self: center;
        left: 0;
        padding: 0;
        width: 70vw;
        height: 500px;
        text-align: center;
    }

    .vr-img img {
        width: 70vw;
        height: 100%;
        background-image: url(./images/mobile/image-interactive.jpg);
        background-size: cover;
    }

    .title {
        padding-top: 2em;
        font-size: 3em;
        text-align: center;
    }

    .para {
        font-size: 1em;
        line-height: 50px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .card {
        height: 200px;
    }

    .grid {
        grid-template-rows: auto;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 3em;
    }

    .one {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-deep-earth.jpg);
        background-size: cover;
    }

    .two {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-night-arcade.jpg);
        background-size: cover;
    }

    .three {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-soccer-team.jpg);
        background-size: cover;
    }

    .four {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-grid.jpg);
    }

    .five {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-from-above.jpg);
        background-size: cover;
    }
    .six {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-pocket-borealis.jpg);
        background-size: cover;
    }

    .seven {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-curiosity.jpg);
        background-size: cover;
    }

    .eight {
        grid-column: 1/5;
        background-image: url(./images/mobile/image-fisheye.jpg);
        background-size: cover;
    }

    .creations button {
        display: none;
    }

    .creations {
        justify-content: center;
    }

    button.btn {
        width: 300px;
        font-size: 2em;
    }

    .mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
        height: 60px;
    }

    .social {
        display: none;
    }

    .bottom-info {
        display: none;
    }

    /* //footer */

    .footer {
        display: block;
    }

    .mobile-image {
        background-color: black;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .bottom-mobile-links {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-mobile-links a {
        font-size: 1.2em;
        padding-bottom: 14px;
    }

    .mobile-icons {
        background-color: black;
        display: flex;
        justify-content: center;
        padding-top: 3em;
        padding-bottom: 2em;
    }

    .mobile-icons img {
        padding: 10px;
        height: 30px;
        width: 30px;
    }

    .mobile-copyright {
        background-color: black;
        color: rgb(183, 182, 182);
        text-align: center;
    }
}

@media (max-width: 820px) {
    .vr-img img {
        /* margin-top: 7em; */
        /* margin-bottom: 3em; */
        height: 38vh;
        background-size: cover;
        width: 70vw;
        grid-row: 1/2;
    }

    .Immersive {
        /* width: 88vw;
        margin-left: 1.5em; */
        display: flex;
        margin: 60px auto 20px auto;
        justify-content: center;
        width: 450px;
    }

    .Immersive p {
        /* text-align: center; */
    }

    .interactive {
        margin-top: 7em;
        padding-bottom: 50px;
        display: grid;
        grid-template-rows: 1fr 650px;
    }

    .leader {
        grid-row: 2/3;
    }

    .title {
        padding-top: 0;
    }

    @media (max-width: 630px) {
        .top-section {
            height: 800px;
            background-image: url(./images/mobile/image-hero.jpg);
            background-size: cover;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
        }

        .interactive {
            display: grid;
            grid-template-rows: 1fr 2fr;
            margin-top: 8em;
        }

        .vr-img img {
            background-size: cover;
            margin: 0;
            padding: 0;
            grid-row: 1/2;
            height: 300px;
        }
        .leader {
            grid-row: 2/3;
            /* padding-bottom: 30px; */
        }

        .creations {
            margin-top: 0;
        }

        .title {
            margin-top: 50px;
        }

        .creations-title {
            display: flex;
            font-size: 1.5em;
            text-align: center;
            margin-top: 30px;
        }

        .Immersive {
            /* display: flex; */
            /* margin: 60px auto 20px auto; */

            justify-self: center;
            align-self: flex-end;
            grid-row: 2/3;
            grid-column: 1/2;
            margin: 0;
            padding: 0;
            margin-bottom: 12em;
        }

        .Immersive p {
            font-size: 3.5em;
        }
    }

    @media (max-width: 481px) {
        .top-section {
            height: 900px;
            background-size: contain;
        }

        .Immersive {
            width: 70vw;
            height: 200px;
            /* margin:auto; */
            margin-bottom: 150px;
            justify-self: center;
            align-self: center;
        }

        .Immersive p {
            font-size: 2em;
        }

        .interactive {
            margin: auto;
            display: grid;
            grid-template-rows: 200px 800px;
        }

        .title {
            font-size: 2em;
        }

        .vr-img img {
            background-size: cover;
            height: 220px;
            margin-top: 30px;
            margin-bottom: 0;
            grid-row: 1/2;
        }

        .leader {
            padding-top: 0;
            grid-row: 2/3;
        }

        .creations-title {
            display: flex;
            font-size: 1.2em;
            text-align: center;
            margin-bottom: 10px;
        }

        .para {
            overflow: auto;
        }
    }
}
